$('#new-post').html('<div class="alert alert-success">Post add success!</div><%= j render "posts/new_post" %>');
$('#posts-list').prepend('<%= j render partial: "posts/post_in_profile", object: @post, as: :post %>');